.search {
  display: flex;
  align-items: flex-end;
  height: 45px;
  position: relative;
  /* 검색 패딩 값 !!!!!!! */
  padding: 0 10px;
  padding-bottom: 20px;
  justify-content: flex-end
}

.search input {
  font-size: 15px;
  color: #222222;
  width: 210px;
  border: none;
  border-bottom: solid #D7C0AE 1px;
  position: relative;
  background: none;
  z-index: 5;
  margin-right: 10px;
  padding-bottom: 10px;
}

.search input::placeholder { color: #aaaaaa; }
.search input:focus { outline: none; border-bottom: solid #D7C0AE 3px; }

.search span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0%;  /* right로만 바꿔주면 오 - 왼 */
  background-color: #666;
  width: 0;
  height: 2px;
  border-radius: 2px;
  transition: 0.5s;
}

.search label {
  position: absolute;
  color: #aaa;
  left: 10px;
  font-size: 20px;
  bottom: 8px;
  transition: all .2s;
}

.search input:focus ~ label, .search input:valid ~ label {
  font-size: 16px;
  bottom: 40px;
  color: #666;
  font-weight: bold;
}

.search input:focus ~ span, .search input:valid ~ span {
  width: 100%;
}

.search button {
 width: 65px;
 height: 40px;
 background-color: #967E76;
 border: none;
 border-radius: 4px;
 font-size: 16px;
 color: white;
 cursor: pointer;
}