/* 전시회 등록 페이지 */
.exhibitRegist {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  /* justify-content: left; */
}

#exhibitRegistHeader {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    text-align: left;
    font-size: 28px;
    font-weight: 900;
    color: #967E76
  }

  button {
    background-color: #638889;
    border: None;
    border-radius: 0.3rem;
    width: 90px;
    height: 40px;
    font-size: 16px;
    color: white;
    cursor: pointer;
  }
}

.registColumn {
  width: 100%;
  display: flex;
}

.registPoster {
  flex: 3;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .previewImg {
    width: 270px;
    height: 360px;
    background-color: #D9D9D9;
  }
}

.registInfo {
  flex: 6;
  padding: 0 10px;

  input[type="checkbox"] {
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin: 0 5px 0 30px;
  }
}

.registTitle {
  width: 100%;
  text-align: left;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 5px;
}

.registDescription {
  width: 100%;
  text-align: left;
  font-size: 14px;
  color: gray;
  margin-bottom: 15px;

  span {
    color: rgb(237, 70, 70);
  }
}

.uploadBtn {
  width: 70px;
  height: 100%;
  background-color: #967E76;
  font-size: 14px !important;
  color: white;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 !important;
}

.registInput {
  width: 100%;
  display: flex;
  margin-bottom: 20px;

  .registGuide {
    margin-left: 4px;
    color: #5F5F5F;
    font-size: 13px;
  }

  .item1 {
    flex: 1;
    font-size: 18px;

    span {
      color: rgb(237, 70, 70);
    }
  }

  .item2 {
    flex: 2.5;
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
  }

  .item3 {
    flex: 2.5;

    span {
      width: 100%;
      height: 25px;
      border: 1px solid #aeaeae;
      border-radius: 0.3rem;
      margin-right: 5px;
      padding-left: 8px;
      font-size: 14px;
      color: #5F5F5F;
      display: flex;
      align-items: center;
    }

    img {
      width: 10px;
      height: 10px;
      margin-left: 3px;
      cursor: pointer;
    }
  }



  label {
    font-size: 16px;
    margin-right: 5px;
  }

  input {
    height: 25px;
    border: solid #aeaeae 1px;
    border-radius: 0.3rem;

    &:focus {
      outline: none;
      border: 1px solid #D7C0AE;
    }
  }

  textarea {
    flex: 2.5;
    height: 100px;
    border: solid #aeaeae 1px;
    border-radius: 0.3rem;
    resize: None;

    &:focus {
      outline: none;
      border: 1px solid #D7C0AE;
    }
  }
}

.periodSetting,
.docentSetting {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 1px 0;

  * {
    margin-right: 5px;
  }

  select {
    margin-right: 2px;
  }

  span {
    display: flex;
    font-size: 16px;
  }

  input[type="number"] {
    width: 20px;
    height: 18px;
    text-align: center;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

}


#exhibitTitle {
  flex: 2.5;
}