.changepasswordarea {
    width: 420px;
    height: 350px;
    display: flex;
    flex-direction: column;
    background-color: #eee3cb;
    border-radius: 10px;
}

.changepasswordtitle {
    color: #967E76;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: 20px;
}

.changepassworddetail {
    color: #777777;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    top: 10px;
    position: relative;
}

.changeinput {
    background-color: #ffffff;
    border: 2px solid #967E76;
    border-radius: 5px;
    color: #777777;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    width: 320px;
    height: 30px;
    margin: 10px 30px;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.changepasswordcheck {
    background-color: #967E76;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}