.myprofilearea {
    width: 434px;
    height: 230px;
    position: relative;
    top: 30px;
    display: flex;
    flex-direction: row;
}

.myprofilearea .left {
    flex: 1;
    margin-right: 30px;
}

.myprofileimage {
    background-color: #eee3cb;
    color: #000000;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 15%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.myprofilearea .right {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.right .nickname {
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    margin-bottom: 20px;
}

.right .follower {
    margin: 0px 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #9DBC98;
    width: 86px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right .following {
    margin: 0px 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #638889;
    color: #ffffff;
    width: 86px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}