.likeexhibitionarea {
    width: 480px;
    height: 500px;
    margin-right: 20px;
    margin-bottom: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.likeexhibitiontitle {
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    margin-top: 5px;
    text-align: center;
}

.likeexhibitionartist {
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    margin-top: 5px;
    text-align: center;
}

.likeexhibitionperiod {
    color: #848484;
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
    text-align: center;
}