.likeworkarea {
    width: 250px;
    height: 300px;
    margin-right: 40px;
    margin-bottom: 40px;
    position: relative;
}

.likeworkname {
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    text-align: start;
}

.likeworkartist {
    color: #848484;
    font-size: 24px;
    font-weight: 400;
    text-align: end;
}