.changepasswordarea {
    z-index: 10;
    width: 420px;
    height: 350px;
    display: flex;
    top: 25%;
    left: 40%;
    position: fixed;
    overflow: hidden;
    flex-direction: column;
    background-color: #eee3cb;
    border-radius: 10px;
}

.changepasswordtitle {
    color: #967E76;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: 20px;
    margin-bottom: 10px;
}

.changepassworddetail {
    color: #777777;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    top: 10px;
    margin-bottom: 35px;
    position: relative;
}

.changeinput {
    background-color: #ffffff;
    border: 2px solid #967E76;
    border-radius: 5px;
    color: #777777;
    font-size: 16px;
    font-weight: 400;
    width: 320px;
    height: 20px;
    margin: 10px 30px;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.changepasswordcheck {
    background-color: #967E76;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}