.container {
  width: 1380px;
  /* width: 100%; */
  height: 400px;
  /* margin: 0px 30px; */
  margin: 0;
  transform: translateFX(0%);

  /* .slick-slide {
    > div {
      > div {
        display: flex !important;
        justify-content: center;
      }
    }
  } */

  img {
    object-fit: cover;
    border-radius: 0.3rem;
  }
}

.slidedots {
  bottom: -25px;
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 30px;
}

.slidedots li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0px 10px;
}

.slidedots li button {
  border: none;
  background-color: #848484;
  color: transparent;
  cursor: pointer;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.slidedots li.slick-active button {
  background-color: #967e76;
}

.nowadays {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  display: flex;
  justify-content: start;
  /* left: 50px; */
  /* top: 5px; */
  position: relative;
}

.nowdetails {
  color: #967e76;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
  /* top: -25px; */
  position: relative;
  cursor: pointer;
}