/* #root {
  overflow-x: hidden;
} */

.App {
  font-family: 'SUIT-Regular';
  text-align: center;
  padding-top: 60px;
  padding-bottom: 100px;
}

.App button, .App div, .App textarea {
  font-family: 'SUIT-Regular'; 
}

.cursorPointer {
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.workList {
  display: flex;
  justify-content: flex-start;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  width: 960px;
  /* padding: 0 30px; */ /*이거 때문에 여백..*/
  /* width: 1020px; */
}

.artistList {
  justify-content: flex-start;
  /* justify-content: space-between; */
  display: flex;
  flex-wrap: wrap;
  /* padding: 0 30px; */
  width: 960px;
}

.exhibitList {
  justify-content: flex-start;
  /* justify-content: space-between; */
  display: flex;
  flex-wrap: wrap;
  /* padding: 0 30px; */
  width: 780px;
}
