body {
  margin: 0;
  font-family: 'SUIT-Regular';

  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* -scrollbar */
  /* &::-webkit-scrollbar {
    width: 5px;
  }
  
  &::-webkit-scrollbar-thumb {
    width: 5px;
    height: 30%;
    background: rgba(150, 126, 118, 0);
    border-radius: 10px;
  }
  
  &:hover::-webkit-scrollbar-thumb {
    width: 5px;
    height: 30%;
    background: #967E76;
    border-radius: 10px;
  }
  
  &::-webkit-scrollbar-track {
    background: white;
  } */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.boldFont {
  font-weight: 900;
}

.bodyCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}