.docentContent {
  width: 100%;
  height: calc((100vh/9*8) - 2vw);
  background-color: #EEEEEE;
  border-radius: 0.7rem;
  display: flex;
  justify-content: center;

  font-family: 'SUIT-Regular'; 
  
  button, input {
    font-family: 'SUIT-Regular'; 
  }

  h2 {
    margin: 0 0 10px 0;
    color: #967E76;
  }
}

.contentBox {
  width: calc(100% - 40px);
  /* height: calc((100vh/9*8)*0.98 - 45px); */
  height: calc(100vh/9*8 - 2vw - 45px);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px 0 25px;

  hr {
    width: 100%;
  }  
}

.contentHeader {
  width: 100%;
  height: calc((100vh/9*8 - 2vw - 45px) * 0.1);

}

/* 작품 */
#docentWork {
  height: calc((100vh/9*8 - 2vw - 45px)*0.9);
  width: 100%;
  overflow: scroll;
  /* overflow-y: hidden; */
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin: 10px 0 5px;
  }
}

#docentWorks {
  /* style={{width:{}, display:"flex", flexWrap: "wrap", justifyContent: "flex-start"}} */
  width: calc(16vw + 16px);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.dcntWorkImg {
  width: 4vw;
  margin: 2px;
  cursor: pointer;
  /* transition-duration: 2s;

  &:hover {
    transform: skew( 60deg, 30deg )
  } */
}

.dcntWork {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .dcntWorkImg {
    flex: 2;
    margin: 0 2px;
  }

  .dcntWorkTitle {
    flex: 2.5;
  }
  
  .dcntWorkArtist {
    flex: 2.5;
  }

  .dcntWorkBtn {
    flex: 1;
    cursor: pointer;
  }
}

/* 채팅 */
#chatting {
  width: 93%;
  height: calc((100vh/9*8 - 2vw - 45px) * 0.8 - 30px);

  margin: 15px 0;
  /* padding: 15px 0; */
  text-align: left;
  overflow: scroll;
  overflow-x: hidden;

  display: flex;
  flex-direction: column-reverse;
  
  span {
    font-weight: 900;
    margin-right: 5px;
    color: black !important;
  }

  div {
    margin: 5px 0;
    color: #585858;
    font-size: 16px;
  }
  
}

#chatInput {
  height: calc((100vh/9*8 - 2vw - 45px)*0.1);
  width: 95%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    height: 40px;
    border: 1px solid #967E76;
    border-radius: 0.3rem;
    outline: None;
    width: 70%;
    padding: 0 10px;
    font-size: 16px;
  }

  button {
    width: 20%;
    height: 40px;
    border: None;
    border-radius: 0.3rem;
    background-color: #967E76;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
}

/* 채팅 꾸미기 */
.chat-input-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  width: 100%; /* 컨테이너의 너비를 부모에 맞춤 */
}

.chat-input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: auto;
  width: calc(100% - 85px); /* 버튼 너비와 마진을 고려하여 조정 */
}

.chat-submit {
  padding: 10px 20px;
  background-color: #967E76; /* 버튼 색상 변경 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-submit:hover {
  background-color: darken(#967E76, 10%); /* 호버 시 색상을 어둡게 조정 */
}
