.exhibitHeader {
	display: flex;
  align-items: flex-start;
	justify-content: space-between;
  padding-left: 10px;
}

.exhibitHeaderRight {
	display: flex;
}

.exhibitRegistBtn {
	width: 110px;
	height: 40px;
	background-color: #967E76;
  color: white;
  font-size: 16px;
	border-radius: 0.7rem;
	/* margin-left: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
	cursor: pointer;
  margin-right: 10px;
}

.exhibitToggle {
	/* height: 45px; */
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/* padding-left: 10px; */
}

.toggleBtn {
	height: 40px;
	font-size: 18px;
	background-color: #D7D7D7;
	border-radius: 2rem;
	color: #7F7F7F;
	
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 5px;
	cursor: pointer;
}

.clickToggleBtn {
	background-color: #9DBC98;
	color: white;
	font-weight: 900;
}


/* 디테일 */

.exhibitInfo {
  display: flex;
}

.exhibitButtons button {
  width: 200px;
  height: 70px;
  border: None;
  border-radius: 3rem;
  margin: 0 5px 30px 5px;
  background-color: #EEE3CB;
  font-size: 20px;
  /* color: white; */
  cursor: pointer;
}

.reviewArea {
  width: 750px;
  /* height: 180px; */
  margin-top: 10px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  border: 2px solid #EEE3CB;
  border-radius: 0.7rem;

	/* width: 700px;
	height: 180px;
  padding: 15px 25px;
  margin-top: 10px;
  margin-bottom: 20px;

  border: 2px solid #EEE3CB;
  border-radius: 0.7rem;
  resize: none;
  outline-color: None;

  font-family: 'SUIT-Regular';
  font-size: 16px;
  color: #333333; */
}

.reviewArea textarea {
  width: 710px;
	height: 140px;
  margin: 20px 20px 0 20px;
  padding: 0;

  border: None;
  resize: none;
  outline: None;

  font-family: 'SUIT-Regular';
  font-size: 16px;
  color: #333333;
}

.reviewArea:focus {
  border: 2px solid #EEE3CB;
  outline-color: #EEE3CB;
}

.reviewArea button {
  /* font-family: "SUIT-Regular"; */
  width: 70px;
  height: 30px;
  background-color: #967E76;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  margin: 0 20px 20px 0;
}

.selectReviews {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}


/* 전시회 등록 페이지 */
.exhibitRegist {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  /* justify-content: left; */
}

#exhibitRegistHeader {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    text-align: left;
    font-size: 28px;
    font-weight: 900;
    color: #967E76
  }

  button {
    background-color: #638889;
    border: None;
    border-radius: 0.3rem;
    width: 90px;
    height: 40px;
    font-size: 16px;
    color: white;
    cursor: pointer;
  }
}

.registColumn {
  width: 100%;
  display: flex;
}

.registPoster {
  flex: 3;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .previewImg {
    width: 270px;
    height: 360px;
    background-color: #D9D9D9;
  }
}

.registInfo {
  flex: 6;
  padding: 0 10px;

  input[type="checkbox"] {
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin: 0 5px 0 30px;
  }
}

.registTitle {
  width: 100%;
  text-align: left;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 5px;
}

.registDescription {
  width: 100%;
  text-align: left;
  font-size: 14px;
  color: gray;
  margin-bottom: 15px;

  span {
    color: rgb(237, 70, 70);
  }
}

.uploadBtn {
  width: 70px;
  height: 100%;
  background-color: #967E76;
  font-size: 14px !important;
  color: white;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 !important;
}

.registInput {
  width: 100%;
  display: flex;
  margin-bottom: 20px;

  .registGuide {
    margin-left: 4px;
    color: #5F5F5F;
    font-size: 13px;
  }

  .item1 {
    flex: 1;
    font-size: 18px;
    
    span {
      color: rgb(237, 70, 70);
    }
  }

  .item2 {
    flex: 2.5;
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
  }

  .item3 {
    flex: 2.5;

    span {
      width: 100%;
      height: 25px;
      border: 1px solid #aeaeae;
      border-radius: 0.3rem;
      margin-right: 5px;
      padding-left: 8px;
      font-size: 14px;
      color: #5F5F5F;
      display: flex;
      align-items: center;
    }

    img {
      width: 10px;
      height: 10px;
      margin-left: 3px;
      cursor: pointer;
    }
  }

  

  label {
    font-size: 16px;
    margin-right: 5px;
  }

  input {
    height: 25px;
    border: solid #aeaeae 1px;
    border-radius: 0.3rem;

    &:focus { outline: none; border: 1px solid #D7C0AE; }
  }

  textarea {
    flex: 2.5;
    height: 100px;
    border: solid #aeaeae 1px;
    border-radius: 0.3rem;
    resize: None;

    &:focus { outline: none; border: 1px solid #D7C0AE; }
  }
}

.periodSetting, .docentSetting {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 1px 0;

  * {
    margin-right: 5px;
  }

  select {
    margin-right: 2px;
  }

  span {
    display: flex;
    font-size: 16px;
  }

  input[type="number"] {
    width: 20px;
    height: 18px;
    text-align: center;
  
    &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
  }
  
}


#exhibitTitle {
  flex: 2.5;
}





