.exhibitHeader {
	display: flex;
  align-items: flex-start;
	justify-content: space-between;
  padding-left: 10px;
}

.exhibitHeaderRight {
	display: flex;
}

.exhibitRegistBtn {
	width: 110px;
	height: 40px;
	background-color: #967E76;
  color: white;
  font-size: 16px;
	border-radius: 0.7rem;
	/* margin-left: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
	cursor: pointer;
  margin-right: 10px;
}

.exhibitToggle {
	/* height: 45px; */
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/* padding-left: 10px; */
}

.toggleBtn {
	height: 40px;
	font-size: 18px;
	background-color: #D7D7D7;
	border-radius: 2rem;
	color: #7F7F7F;
	
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 5px;
	cursor: pointer;
}

.clickToggleBtn {
	background-color: #9DBC98;
	color: white;
	font-weight: 900;
}


/* 디테일 */

.exhibitInfo {
  display: flex;
}

.exhibitButtons button {
  width: 200px;
  height: 70px;
  border: None;
  border-radius: 3rem;
  margin: 0 5px 30px 5px;
  background-color: #EEE3CB;
  font-size: 20px;
  /* color: white; */
  cursor: pointer;
}

.reviewArea {
  width: 750px;
  /* height: 180px; */
  margin-top: 10px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  border: 2px solid #EEE3CB;
  border-radius: 0.7rem;

	/* width: 700px;
	height: 180px;
  padding: 15px 25px;
  margin-top: 10px;
  margin-bottom: 20px;

  border: 2px solid #EEE3CB;
  border-radius: 0.7rem;
  resize: none;
  outline-color: None;

  font-family: 'SUIT-Regular';
  font-size: 16px;
  color: #333333; */
}

.reviewArea textarea {
  width: 710px;
	height: 140px;
  margin: 20px 20px 0 20px;
  padding: 0;

  border: None;
  resize: none;
  outline: None;

  font-family: 'SUIT-Regular';
  font-size: 16px;
  color: #333333;
}

.reviewArea:focus {
  border: 2px solid #EEE3CB;
  outline-color: #EEE3CB;
}

.reviewArea button {
  /* font-family: "SUIT-Regular"; */
  width: 70px;
  height: 30px;
  background-color: #967E76;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  margin: 0 20px 20px 0;
}

.selectReviews {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}


/* 전시회 등록 페이지 */
.exhibitRegist {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  /* justify-content: left; */
}

.registColumn {
  width: 100%;
  display: flex;
}

.registPoster {
  flex: 4;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registInfo {
  flex: 6;
  padding: 0 10px;
}

.registTitle {
  width: 100%;
  text-align: left;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 5px;
}

.registDescription {
  width: 100%;
  text-align: left;
  font-size: 14px;
  color: gray;
  margin-bottom: 15px;
}

.registInput {
  width: 100%;
  display: flex;
  font-size: 18px;
  /* align-items: center; */
  margin-bottom: 10px;
}

.registDescription span, .registInput span {
  color: rgb(237, 70, 70);
}

.registInput .item1 {
  flex: 1;
}

.registInput .item2 {
  flex: 2;
}

.item2 {
  display: flex;
}

.registInput input {
  flex: 2;
  height: 25px;
  border: solid #aeaeae 1px;
  border-radius: 0.3rem;
}

.registInput input:focus { outline: none; border: 1px solid #D7C0AE; }

.registInput textarea {
  flex: 2;
  height: 100px;
  border: solid #aeaeae 1px;
  border-radius: 0.3rem;
  resize: None;
}

.registInput textarea:focus { outline: none; border: 1px solid #D7C0AE; }

/* .registPeriod {
  display: flex;
}

#startYear, #startMonth, #startDay {
  flex: 1;
  width: 10px;
} */


.registInput input {

}