.exhibitHeader {
	display: flex;
  align-items: flex-start;
	justify-content: space-between;
  padding-left: 10px;
}

.exhibitHeaderRight {
	display: flex;
}

.exhibitRegistBtn {
	width: 110px;
	height: 40px;
	background-color: #967E76;
  color: white;
  font-size: 16px;
	border-radius: 0.7rem;
	/* margin-left: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
	cursor: pointer;
  margin-right: 10px;
}

.exhibitToggle {
	/* height: 45px; */
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/* padding-left: 10px; */
}

.toggleBtn {
	height: 40px;
	font-size: 18px;
	background-color: #D7D7D7;
	border-radius: 2rem;
	color: #7F7F7F;
	
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 5px;
	cursor: pointer;
}

.clickToggleBtn {
	background-color: #9DBC98;
	color: white;
	font-weight: 900;
}


/* 전시회 상세 페이지 */

.exhibitContainer {
  width: 750px;
  /* width: 100%; */
  height: 500px;
  /* margin: 0px 30px; */
  cursor: pointer;
  
  .slick-arrow, .slick-disabled, .slick-prev, .slick-next {
    display: None !important;
    width: 0 !important;
    height: 0 !important;
    position: None !important;
  }

  .slidedots {
    bottom: 1px;
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 25px;
    text-align: center;

    li {
      list-style: none;
      cursor: pointer;
      display: inline-block;
      margin: 0px 5px;

      button {
        border: none;
        background-color: #b6b6b6;
        color: transparent;
        cursor: pointer;
        display: block;
        width: 20px;
        height: 5px;
        border-radius: 0.2rem;
        /* border-radius: 100%; */
      }

      }
    .slick-active button {
      background-color: #967e76;
      transform: scale(1.2);
    }
  }
}

.exhibitInfo {
  display: flex;
}

.exhibitButtons button {
  width: 200px;
  height: 70px;
  border: None;
  border-radius: 3rem;
  margin: 0 5px 30px 5px;
  background-color: #EEE3CB;
  font-size: 20px;
  /* color: white; */
  cursor: pointer;
}

.reviewArea {
  width: 750px;
  /* height: 180px; */
  margin-top: 10px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  border: 2px solid #EEE3CB;
  border-radius: 0.7rem;

	/* width: 700px;
	height: 180px;
  padding: 15px 25px;
  margin-top: 10px;
  margin-bottom: 20px;

  border: 2px solid #EEE3CB;
  border-radius: 0.7rem;
  resize: none;
  outline-color: None;

  font-family: 'SUIT-Regular';
  font-size: 16px;
  color: #333333; */

  textarea {
    width: 710px;
    height: 140px;
    margin: 20px 20px 0 20px;
    padding: 0;
  
    border: None;
    resize: none;
    outline: None;
  
    font-family: 'SUIT-Regular';
    font-size: 16px;
    color: #333333;
  }
  
  &:focus {
    border: 2px solid #EEE3CB;
    outline-color: #EEE3CB;
  }

  button {
    /* font-family: "SUIT-Regular"; */
    width: 70px;
    height: 30px;
    background-color: #967E76;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    margin: 0 20px 20px 0;
    /* margin: 0 20px 2px 0; */
  }

  span {
    font-size: 12px;
    margin: 0 10px 20px 0;
  }
  
}

.selectReviews {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.detailPageBtns {
  position: fixed;
  bottom: 25px;
  z-index: 1;
  
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 10px 0px #5F5F5F;
  border-radius: 2rem;

  font-size: 18px;
  padding: 10px 15px;

  img {
    width: 25px;
    margin-right: 7px;
    cursor: pointer;

    /* &:hover {
      transition: all 0.3s linear;
      transform: scale(1.1);
    } */
  }

  div {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 17px;

    &:hover {
      font-weight: 900;

      img {
        transition: all 0.3s linear;
        transform: scale(1.1);
      }
    }
  }
}
